
#Created by Constraints Editor (xc3s500e-fg320-5) - 2024/09/06
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 20 ns HIGH 50%;

# PlanAhead Generated IO constraints 

NET "reset" IOSTANDARD = LVTTL;
NET "rx" IOSTANDARD = LVTTL;
NET "VGA_BLUE" IOSTANDARD = LVTTL;
NET "VGA_GREEN" IOSTANDARD = LVTTL;
NET "VGA_HS" IOSTANDARD = LVTTL;
NET "VGA_RED" IOSTANDARD = LVTTL;
NET "VGA_VS" IOSTANDARD = LVTTL;
NET "clk" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "VGA_RED" LOC = H14;
NET "VGA_GREEN" LOC = H15;
NET "VGA_BLUE" LOC = G15;
NET "VGA_HS" LOC = F15;
NET "VGA_VS" LOC = F14;
NET "rx" LOC = R7;
NET "reset" LOC = L13;

# PlanAhead Generated IO constraints 

NET "reset" PULLUP;
NET "VGA_BLUE" SLEW = FAST;
NET "VGA_GREEN" SLEW = FAST;
NET "VGA_HS" SLEW = FAST;
NET "VGA_RED" SLEW = FAST;
NET "VGA_VS" SLEW = FAST;
